<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zplay.adsyumi.unity.plugin"
    android:versionCode="1"
    android:versionName="1.0" >

    <application >
  
        <activity
            android:name="com.zplay.adsyumi.unity.plugin.AdsPluginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
				 <intent-filter>  
                <action android:name="android.intent.action.MAIN" />  
  
                <category android:name="android.intent.category.LAUNCHER" />  
            </intent-filter>  
			<meta-data
          android:name="unityplayer.UnityActivity"
          android:value="false" />
        </activity>
    </application>

</manifest>
